:root {
  box-sizing: border-box;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  font: 1em/160% sans-serif;
  background-color: var(--co-body-bg);
  color: var(--co-body-text);
}
